/*========
Colors 
===========*/
$white-color: #fff;
$primary-color: #007780;
$secondary-color: #ac5709;
$error-color: #b00020;
$red-color: #800000;
$black-color: #000000;
$light-black-color: #212529;
$background-color: #f8f8f8;
$surface-color: $white-color;
$onPrimary-color: $white-color;
$onSecondary-color: $white-color;

/*========
font 
===========*/
$font-stack: Roboto, sans-serif;
$font-size-base: 16px;

$font-size-base-sm: 14px;

$font-size-base-xl: $font-size-base;
